<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <style>
    body {
      margin: 1em auto;
      width: 55em;
    }

    .semaine {
      margin: 1em 0;
    }

    .event {
      margin: 2.5em 0;
      background: #f2f2f2;
    }

    .event > * {
      padding: 0 1.5em 1.5em 1.5em;
    }

    .event > .callout {
      padding-top: 1em;
      background: #e2e2e2;
    }

    .event > .callout > * {
      margin-bottom: 0;
    }
  </style>
</head>
<body>
  <div class="semaine">
  <h2>Semaine en cours</h2>
  <% if (data.pre.week && data.pre.week.rows && data.pre.week.rows.length) { %>
    <div>
      <h3><%- data.pre.week.rows.length %> événements</h3>
      <% data.pre.week.rows.forEach((row) => { main.duration(row.doc) %>
      <%= partials[data.partial](Object.assign(data, { row })) %>
      <% }) %>
    </div>
  <% } %>
  </div>
  <div class="semaine">
  <h2>Semaine dernière</h2>
  <% if (data.pre.previousWeek && data.pre.previousWeek.rows && data.pre.previousWeek.rows.length) { %>
    <div>
    <h3><%- data.pre.previousWeek.rows.length %> événements</h3>
    <% data.pre.previousWeek.rows.forEach((row) => { main.duration(row.doc) %>
    <%= partials[data.partial](Object.assign(data, { row })) %>
    <% }) %>
    </div>
  <% } %>
  </div>
</body>
